@CHARSET "UTF-8";
.main-content {
	margin-top: 80px;'
}

.status-completed {
    color: #FFF;
    background-color: #5CB85C;
    border-color: #4CAE4C;
}
.status-completed:hover, .status-completed:focus, .status-completed.focus, .status-completed:active, .status-completed.active, .open > .dropdown-toggle.status-completed {
    color: #FFF;
    background-color: #449D44;
    border-color: #398439;
}

.status-inprogress {
    color: #FFF;
    background-color: #428BCA;
    border-color: #357EBD;
}
.status-inprogress:hover, .status-inprogress:focus, .status-inprogress.focus, .status-inprogress:active, .status-inprogress.active, .open > .dropdown-toggle.status-inprogress {
    color: #FFF;
    background-color: #3071A9;
    border-color: #285E8E;
}

.status-newed {
    color: #FFF;
    background-color: #F0AD4E;
    border-color: #EEA236;
}
.status-newed:hover, .status-newed:focus, .status-newed.focus, .status-newed:active, .status-newed.active, .open > .dropdown-toggle.status-newed {
    color: #FFF;
    background-color: #EC971F;
    border-color: #D58512;
}

.status-rejected {
    color: #FFF;
    background-color: #D9534F;
    border-color: #D43F3A;
}
.status-rejected:hover, .status-rejected:focus, .status-rejected.focus, .status-rejected:active, .status-rejected.active, .open > .dropdown-toggle.status-rejected {
    color: #FFF;
    background-color: #C9302C;
    border-color: #AC2925;
}

.col-position {
	width: 40px;
	text-align: center;
}

.col-status {
	width: 60px;
	text-align: right;
	padding-right: 10px;
}

.col-title {
	text-align: left;
}

.col-count {
	width: 50px;
	text-align: center !important;
}

.col-price {
	width: 60px;
	text-align: right;
	padding-right: 10px;
}

.col-action {
	width: 105px;
	text-align: center;
}

.glyph-color-maroon {
	color: maroon;
}

.glyph-color-maroon {
	color: maroon;
}

.tab-title-col .tab-author-col {
	text-align: left;
}

.tab-price-col .count-col {
	width: 50px;
}

.tab-form-col {
	width: 200px;
}

.row-normal {
	background-color: #c0f0ff;
}

.topMenu {
	top: 0;
	width: 100%;
}

.menu {
	font-family: sans-serif;
	font-size: large;
	text-align: left;
}