<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>wsWebClient</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SearchBook</display-name>
    <servlet-name>SearchBook</servlet-name>
    <servlet-class>ua.nure.order.server.SearchBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBook</servlet-name>
    <url-pattern>/SearchBook</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>ua.nure.order.filter.EncodingFilter</filter-class>
    <init-param>
      <description></description>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBook</display-name>
    <servlet-name>ViewBook</servlet-name>
    <servlet-class>ua.nure.order.server.ViewBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBook</servlet-name>
    <url-pattern>/ViewBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyBook</display-name>
    <servlet-name>BuyBook</servlet-name>
    <servlet-class>ua.nure.order.server.BuyBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyBook</servlet-name>
    <url-pattern>/BuyBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorHandler</display-name>
    <servlet-name>ErrorHandler</servlet-name>
    <servlet-class>ua.nure.order.server.ErrorHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorHandler</servlet-name>
    <url-pattern>/ErrorHandler</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>ListCard</display-name>
    <servlet-name>ListCard</servlet-name>
    <servlet-class>ua.nure.order.server.ListCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCard</servlet-name>
    <url-pattern>/ListCard</url-pattern>
  </servlet-mapping>
</web-app>